:root {
  --background: #fafafa;
  --primary: #141414;
  --secondary: #696969;
  --tertiary: #da0825;
}

html,
body {
  background-color: var(--background);
  font-family: "Montserrat", sans-serif !important;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

div,
span,
input,
button {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem calc(100vw - 95%) 0 calc(100vw - 95%);
}
@media (min-width: 768px) {
  .container {
    padding: 3rem calc(100vw - 90%) 0 calc(100vw - 90%);
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 3rem calc(100vw - 75%) 0 calc(100vw - 75%);
  }
}
