:root {
  --background: #fafafa;
  --primary: #141414;
  --secondary: #696969;
  --tertiary: #da0825;
}

html,
body {
  background-color: var(--background);
  font-family: "Montserrat", sans-serif !important;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

div,
span,
input,
button {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}
